@media screen and (max-width: 1400px) {
  #profile {
    height: 80ch;
  }
}

@media screen and (max-width: 1200px) {
  .header-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    background-color: var(--primary-color-4);
  }

  .section__text__p1 {
    font-size: 2.5rem;
  }

  .section__text__p2 {
    font-size: 2.5rem;
  }

  .section__text__p3 {
    font-size: 1.25rem;
  }

  .btn {
    font-size: 1rem;
  }

  .job-item{
    width: 10.5rem;
    height: 10.5rem;
    padding: 10px;
  }

  .jobs__text__p1 {
    font-size: 1.5rem;
  }
  .jobs__text__p2 {
    font-size: 1.5rem;
  }

  .works__text__p1 {
    font-size: 3rem;
  }

  .works__text__p2 {
    font-size: 2rem;
  }

  .works__text__p3 {
    font-size: 1.2rem;
  }

  .works__text__p4 {
    font-size: 1.1rem;
  }

  .works-container-detail{
    width: 95%;
  }

  .works-container-mini{
    width: 18ch;
    height: 36ch;
    border-radius: 12px;
  }

  .arrow {
    display: none;
  }

  #footer {
    height: 54ch;
    flex-direction: column;
    justify-content: space-around;
  }

  .logo__social {
    width: 100%;
    justify-content: space-around;
  }

  .footer-logo {
    width: 120px;
    height: 120px;
  }

  .social__text {
    font-size: 1.25rem;
  }

  .social__container {
    height: 30px;
    width: 30px;
  }
  .social__logo {
    width: 28ch;
  }

}

@media screen and (max-width: 800px) {

  .section__text__p1 {
    font-size: 2.25rem;
  }

  .section__text__p2 {
    font-size: 2.25rem;
  }

  .section__text__p3 {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.75rem;
  }

  .products__text__p2 {
    font-size: 0.65rem;
  }

  .job-item{
    width: 8rem;
    height: 8rem;
  }

  .jobs__text__p1 {
    font-size: 1rem;
  }
  .jobs__text__p2 {
    font-size: 1rem;
  }

  .jobs__text__p3 {
    font-size: 0.7rem;
  }

  .job-arrow-box{
    width: 1.75em;
    height: 1.75rem;
    border-radius: 50%;
  }

  .job-arrow-box:hover{
    width: 1.85rem;
    height: 1.85rem;
  }

  .icon__mini{
    height: 0.8rem;
  }

  .works__text__p1 {
    font-size: 2.5rem;
  }

  .works__text__p2 {
    font-size: 1.5rem;
  }

  .works__text__p3 {
    font-size: 1.2rem;
  }


  .icon__large {
    height: 2.2rem;
  }

  .works__text__p4 {
    font-size: 1.1rem;
  }

  .works-container-detail{
    width: 95%;
  }

  .works-container-mini{
    width: 14ch;
    height: 42ch;
    border-radius: 12px;
  }

  .copyright-text {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 600px) {

  #profile {
    height: 83ch;
    margin-bottom: 0;
    padding: 0  0;
    flex-direction: column;
    justify-content: center;
  }

  .section__text__p1 {
    font-size: 2.25rem;
    text-align: center;
  }

  .section__text__p2 {
    font-size: 2.25rem;
    text-align: center;
  }

  .section__text__button {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .section__text__p3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .btn {
    font-size: 1rem;
    align-self: center;
  }

  #about {
    position: relative;
    height: 120ch;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .jobs-container {
    height: 116ch;
    width: 14rem;
    border-radius: 0.5rem;
    flex-direction: column;
    background-image: url("./assets/line-90.png");
  }

  .job-item{
    width: 10.5rem;
    height: 10.5rem;
  }

  .job-item-color-1 {
    margin-bottom: 0;
    margin-right: 8rem;
    transform: rotate(-14deg);
  }

  .job-item-color-2 {
    margin-top:  0;
    margin-left:  6rem;
    transform: rotate(10deg);
  }

  .job-item-color-3 {
    margin-top:  0;
    margin-left:  8rem;
    transform: rotate(5deg);
  }

  .job-item-color-4 {
    margin-bottom: 0;
    margin-right: 6rem;
    transform: rotate(-10deg);
  }

  .jobs__text__p1 {
    font-size: 1.4rem;
  }
  .jobs__text__p2 {
    font-size: 1.4rem;
  }

  .jobs__text__p3 {
    font-size: 0.9rem;
  }

  .job-arrow-box{
    width: 2em;
    height: 2rem;
  }

  .job-arrow-box:hover{
    width: 2.25rem;
    height: 2.25rem;
  }

  .icon__mini{
    height: 1rem;
  }

  .products__text__p2 {
    font-size: 1rem;
  }

  #experience {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 68ch;
    width: auto;
  }

  .experience-icon{
    position: absolute;
  }

  .experience__text__p1 {
    font-size: 2.5rem;
  }

  .experience__text__p2 {
    font-size: 2.5rem;
  }

  .experience__text__p3 {
    font-size: 2.5rem;
  }

  .experience__text__p4 {
    font-size: 1.5rem;
  }

  .experience-container{
    background-size: 45%;
  }

  #works {
    height: 112ch;
  }

  .works-container{
    height: 108ch;
    width: 90%;
  }

  .works__text__p1 {
    font-size: 3rem;
  }

  .works__text__p2 {
    font-size: 1.5rem;
  }

  .works__text__p3 {
    font-size: 1.4rem;
  }

  .icon__large {
    height: 2.5rem;
  }

  .works__text__p4 {
    font-size: 1.1rem;
  }

  .works-container-detail{
    width: 95%;
    height: 94ch;
    flex-direction: column;
  }

  .works-container-mini{
    width: 24ch;
    height: 24ch;
    border-radius: 16px;
  }

  /* PRODUCTS */

  #products {
    height: max-content;

  }
  .products-info{
    margin: 4ch 0;
    flex-direction: column;
  }

  .products-info-container-mini {
    height: 52ch;
  }

  .products-container-color-1{
    width: 85%;
  }

  .products-container-color-2{
    width: 45%;
  }



  footer nav {
    height: fit-content;
  }
  #footer {
    height: 54ch;
    flex-direction: column;
    justify-content: space-around;
  }

  .logo__social {
    width: 100%;
    justify-content: space-around;
  }


  .footer-logo {
    width: 120px;
    height: 120px;
  }

  .social__text {
    font-size: 1rem;
  }

  .social__container {
    height: 30px;
    width: 30px;
  }
  .social__logo {
    width: 28ch;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .text-container {
    text-align: justify;
  }

  .copyright-text {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 420px) {


  #about {
    position: relative;
    height: 92ch;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .jobs-container {
    width: 10rem;
    height: 84ch;
  }

  .job-item{
    width: 7.5rem;
    height: 7.5rem;
  }


  .job-item-color-1 {
    margin-right: 6rem;
  }

  .job-item-color-2 {
    margin-left:  4rem;
  }

  .job-item-color-3 {
    margin-left:  6rem;
  }

  .job-item-color-4 {
    margin-right: 4rem;
  }

  .jobs__text__p1 {
    font-size: 1.1rem;
  }
  .jobs__text__p2 {
    font-size: 1.1rem;
  }

  .jobs__text__p3 {
    font-size: 0.65rem;
  }

  .job-arrow-box{
    width: 1.5em;
    height: 1.5rem;
  }

  .job-arrow-box:hover{
    width: 1.75rem;
    height: 1.75rem;
  }

  .icon__mini{
    height: 0.75rem;
  }


  .works-container{
    width: 90%;
  }

  .works__text__p1 {
    font-size: 2.5rem;
  }

  .products__text__p2 {
    font-size: 0.9rem;
  }

  #experience{
    height: 64ch;

  }

  .experience__text__p1 {
    font-size: 2rem;
  }

  .experience__text__p2 {
    font-size: 2rem;
  }

  .experience__text__p3 {
    font-size: 2rem;
  }

  .experience__text__p4 {
    font-size: 1.25rem;
  }

  #footer {
    height: 54ch;
    flex-direction: column;
    justify-content: space-around;
  }

  .logo__social {
    width: 100%;
    justify-content: space-around;
  }


  .footer-logo {
    width: 92px;
    height: 92px;
  }

  .social__text {
    font-size: 0.8rem;
  }

  .social__container {
    height: 28px;
    width: 28px;
  }
  .social__logo {
    width: 26ch;
  }

  .sub__container.p2{
    margin-left: 2ch;
    gap: 2ch;
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  .sub__text {
    text-align: center;
  }

  .email-form {
    justify-content: center;
  }

  .email-input {
    width: 230px;
    font-size: 0.7rem;
  }

  .submit-button {
    width: max-content;
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 200px) {


  .jobs__text__p3 {
    font-size: 0.3rem;
  }

  .logo{
    font-size: 1rem;
  }

  #profile {
    height: 83ch;
  }

  .section__text__p1 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .section__text__p2 {
    font-size: 1rem;
  }

  .section__text__button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .section__text__p3 {
    font-size: 0.75rem;
    text-align: center;
  }

  .jobs-container {
    width: 5rem;
  }

  .job-item{
    width: 2.5rem;
    height: 2.5rem;
    padding: 8px;
    justify-content: center;
  }

  .job-icon{
    width: 1.2rem;
  }

  .job-item-color-1 {
    margin-right: 4rem;
  }

  .job-item-color-2 {
    margin-left:  2rem;
  }

  .job-item-color-3 {
    margin-left:  4rem;
  }

  .job-item-color-4 {
    margin-right: 2rem;
  }

  .jobs__text__p1 {
    font-size: 0.4rem;
  }
  .jobs__text__p2 {
    font-size: 0.4rem;
  }


  #works{
    height: 134ch;
  }

  .works-container{
    width: 90%;
    height: 124ch;
  }

  .works__text__p1 {
    font-size: 1rem;
  }

  .works__text__p2 {
    font-size: 1rem;
  }

  .works__text__p3 {
    font-size: 1rem;
  }

  .works__text__logo {
    width: 20ch;
  }

  .works__text__p4 {
    font-size: 0.75rem;
  }

  .works-container-mini{
    width: 20ch;
    height: max-content;
    border-radius: 16px;
    padding: 12px 12px;
  }

  #experience{
    height: 60ch;

  }

  .experience__text__p1 {
    font-size: 1rem;
  }

  .experience__text__p2 {
    font-size: 1rem;
  }

  .experience__text__p3 {
    font-size: 1rem;
  }

  .experience__text__p4 {
    font-size: 0.75rem;
  }

  #footer {
    height: 54ch;
    flex-direction: column;
    justify-content: space-around;
  }

  .logo__social {
    width: 100%;
    flex-direction: column;
    gap: 2ch;
    justify-content: space-around;
  }


  .footer-logo {
    width: 48px;
    height: 48px;
  }

  .social__text {
    font-size: 0.5rem;
  }

  .social__container {
    height: 20px;
    width: 20px;
  }
  .social__logo {
    width: 22ch;
  }

  .sub__container.p2{
    margin-left: 1ch;
    gap: 1ch;
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  .sub__text {
    text-align: center;
    font-size: 0.5rem;
  }

  .email-form {
    justify-content: center;
    flex-direction: column;
    gap: 0.5ch;
  }

  .email-input {
    width: 180px;
    font-size: 0.5rem;
  }

  .submit-button {
    width: max-content;
    font-size: 0.5rem;
  }

  .icon {
    cursor: pointer;
    height: 0.5rem;
  }

  .icon__large {
    cursor: pointer;
    height: 1rem;
  }

  .icon__theme__not {
    cursor: pointer;
    height: 0.5rem;
  }

  .btn {
    font-size: 0.75rem;
    padding: 0.5rem;
    border-radius: 1rem;
  }

  nav {
    justify-content: space-between;
    padding: 0 12px 0 12px;
    height: 12ch;
  }


  .nav-links {
    gap: 0.1rem;
    font-size: 0.1rem;
  }

  .copyright-text {
    font-size: 0.5rem;
  }

  .footer-nav .nav-links a{
    font-size: 0.5rem;
  }

  nav li:last-child {
    padding: 1px;
  }

}